<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CytubeBotWeb</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=latin-ext" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="px-0 bg-dark sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="logo-nav-item">
                        <a class="navbar-brand" href="/">
                            <h2>CytubeBot</h2>
                        </a>
                    </li>
                    <li>
                        <h6 class="nav-header">General</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard" ? " active" : "")" href="/">
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard"){ <span class='sr-only'>(current)</span> }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "servers" ? " active" : "")" href="/servers">
                            <i class="fas fa-server"></i>
                            Servers @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "servers"){ <span class='sr-only'>(current)</span> }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "channels" ? " active" : "")" href="/channels">
                            <i class="fas fa-server"></i>
                            Channels @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "channels"){<span class='sr-only'>(current)</span>}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="right-column">
                <div class="navbar navbar-expand-lg navbar-light bg-white top-navbar">
                    <div class="m-auto"></div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-header-content">
                        <ul class="navbar-nav ml-5 navbar-profile">
                            <li class="nav-item dropdown">
                                <div class="profile-name">
                                    @Context.User.Identity.Name
                                </div>
                                @*If i want profile pictures
                                <div class="profile-picture bg-gradient bg-primary has-message float-right">
                                    <img src="assets/img/profile-pic.jpg" width="44" height="44">
                                </div>
                                *@
                                <form class="form-inline justify-content-end" asp-area="Identity" asp-page="/Account/Logout"
                                      asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                                      method="post">
                                    <button type="submit" class="nav-link p-0 btn btn-link text-dark float-right">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <main class="main-content p-5">
                    @RenderBody()
                    <footer></footer>
                </main>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script defer src="~/lib/font-awesome/js/all.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script defer src="~/lib/font-awesome/js/all.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
